doctype html
html
  head
    title= `Voting App`
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    link( href="https://fonts.googleapis.com/css?family=Work+Sans|PT+Sans" rel="stylesheet")
    link(rel='stylesheet', href='/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  html
  body
    nav
      ul
        li.title
          a(href='/') Pollster
        if user
          li
            a(href='/yourpolls') Your Polls
          li
            a(href='/newpoll') Create Poll
          li
            a(href='/logout') Log Out
        else
          li
            a(href='/login') Twitter Login

    .container
      block content

  
    footer
      p   Created by 
        |
        a( target='blank' href='https://www.github.com/roh777') Rohit Yadav.
        |  2018
      
  block scripts
    script(src='/bundle.js')

