doctype html
html
  head
    title= `Voting App`
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    link( href="https://fonts.googleapis.com/css?family=Merriweather+Sans|PT+Sans" rel="stylesheet")
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  html
  body
    nav
      ul
        li.title
          a(href='/') Pollster
        if user
          li
            a(href='/profile') Your Polls
          li
            a(href='/newpoll') Create Poll
          li
            a(href='/logout') Log Out
        else
          li
            a.twitter(href='/login') Twitter Login

    .container
      block content

  
  .footer
    a(href='https://www.github.com/roh7777') Rohit Yadav (2017) 
    
      
  block scripts
    script(src='/dist/bundle.js')

