extends layout

block content
    h1 New Poll
    form( method='POST')
        label(for='question') Poll Question
        br
        textarea(name="question", cols="80", rows="10")
        br
        label(for='options') Options for Poll
        input(type='text' name='options[]' placeholder='option')
        br
        input(type='submit' value='Create New Poll')
        br
    button#addnew(name='addnew') New Option

