extends layout

block content
    h1 New Poll
    form.poll-form( method='POST')
        label.poll-form__label(for='question') Poll Question
        textarea(name="question", cols="80", rows="10" placeholder='Enter your question')
        label.poll-form__label(for='options') Options for Poll
        div#options
            input.options(type='text' name='options[]' placeholder='option')
        
        input(type='submit' value='Create New Poll')
    button#addnew(name='addnew') New Option

