extends layout

block content
    h1 New Poll
    form.poll-form( method='POST')
        label.poll-form__label(for='question') Poll Question
        br
        textarea(name="question", cols="80", rows="5" placeholder='Enter your question')
        br
        label.poll-form__label(for='options') Options for Poll
        br
        div#options
            input(type='text' name='options[]' placeholder='option')
            input(type='text' name='options[]' placeholder='option')
        input.button(type='submit' value='Create New Poll')
    button.button#addnew(name='addnew') New Option

