body {
    padding-top: 54px;
    max-width: 75%;
    margin : 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

.main {
    font-family:  'Patua One', cursive;
    font-size: 32px;
}