div.container > h2 {
	font-size: 32px;
}

div.question > a{
	text-decoration: none;
	color: #333;
	margin-bottom: 5px;
}

div.question > a:hover {
	color: black;
	text-decoration: underline;
}

div.container {
	max-width: 60%;
	margin: 0 auto;
	font-size: 18px;
}

.option {
	padding: 5px 10px;

}

.option:hover{
	background-color: lightgray;
}


.chart {
	height: 400px;
	width: 400px;
	text-align: center;
}